*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    display: flex;
    justify-content: space-between;
    background: #1F2937;
    color: #fff;
    padding: 1% 90px;
}

.header-list{
    display: flex;
    justify-content: baseline;
    align-items: center;
    list-style-type: none;
    gap: 10px;
    color:#e5e7eb
}


.image-div{
    background: gray;
    height: 100px;
    width: 100px;
}

.image-tag{
    color: white;
}

.top-content{
    display: flex;
    align-content: center;
    background: #1F2937;
    padding: 200px 50px 1px 1px;
    height: 100vh;
    justify-content: space-between;

}

.left-content{
    display: flex;
    flex-direction: column;
padding: 0 70px;
}

.h1-left{
    color: #fff;
    font-size: 48px;
    font-weight: 900;
}

